{% extends 'cluster/base.html' %}
{% load static %}
{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/cluster.jpg' %}" class="d-block w-100 main-photo"
                     alt="...">

            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Центр Цифровых технологий
    </div>
{% endblock %}
{% block base %}
    <div class="container-fluid">
        <div class="row">

            <!-- Left Sidebar -->
            <div class="col-md-3 sidebar mb-5">
                <div class="underline mt-3"></div>
                <div class="news py-3 ">
                    Навигация:
                </div>
                <div class="underline"></div>
                <div class="left-sidebar">
                    <a href="{% url 'index' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Главная
                        </div>
                    </a>
                </div>
                <div class="left-sidebar">
                    <a href="{% url 'cluster:list_news' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Новости
                        </div>
                    </a>
                </div>
                <div class="service-item py-3 pl-2">
                    <a href="">
                        <div class="">Виртуальная экскурсия</div>
                    </a>
                </div>
                <div class="left-sidebar">
                    <a href="{% url 'cluster:list_projects' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Проекты
                        </div>
                    </a>
                </div>
                <div class="left-sidebar">
                    <a href="{% url 'index' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Технологии
                        </div>
                    </a>
                </div>
                <div class="left-sidebar">
                    <a href="{% url 'index' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Курсы
                        </div>
                    </a>
                </div>
                <!-- <div class="sidebar-toggler mb-2">
                <button class="btn btn-light d-none" type="button">Category <i class="fas fa-chevron-circle-down"></i>
                </button>
            </div>
            <div class="sidebar-toggle">
                <ul class="list-group">
                    <a href="{% url 'index' %}" class="list-group-item list-group-item-action">Центр Цифровых технологий</a>
                    <a href="{% url 'cluster:list_news' %}" class="list-group-item list-group-item-action">Новости</a>
                    <a href="#" class="list-group-item list-group-item-action">Виртуальная экскурсия</a>

                    <div class="accordion border-bottom" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Студентам
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <a href="d-block">Ссылка на первую статью для студентов</a>
                                    <a href="d-block">Ссылка на вторую статью для студентов</a>
                                    <a href="d-block">Ссылка на третью статью для студентов</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </ul>
            </div> -->
            </div>

            <div class="col-md-6">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <!-- Recent articles -->
            <div class="col-md-3">
                <div class="underline mt-3">
                </div>
                <div class="news py-3 ">
                    Новости:
                </div>
                <div class="underline"></div>
                {#        <div class="comment border-comment mb-4 mt-4">#}
                {#            <div class="py-3 ps-3" id="MakeComment">Последние новости:</div>#}
                {##}
                {#            {% for one_new in news_list %}#}
                {#                {% if not forloop.last %}#}
                {#                    <div class="my-3 px-3 recent-article mb-2">#}
                {#                        <div class="article-title fs-4 mt-3">#}
                {#                            {{ one_new.name|title }}#}
                {#                        </div>#}
                {#                        <div class="article-content mt-2">#}
                {#                            {{ one_new.description|truncatewords:10 }}#}
                {#                        </div>#}
                {#                        <div class="article-link mt-2">#}
                {#                            <a href="{% url 'cluster:one_new' one_new.slug %}"#}
                {#                               class="btn btn-outline-success mb-3">View</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% else %}#}
                {#                    <div class="my-3 px-3 mb-0">#}
                {#                        <div class="article-title fs-4 mt-3">#}
                {#                            {{ one_new.name|title }}#}
                {#                        </div>#}
                {#                        <div class="article-content mt-2">#}
                {#                            {{ one_new.description|truncatewords:10 }}#}
                {#                        </div>#}
                {#                        <div class="article-link mt-2">#}
                {#                            <a href="{% url 'cluster:one_new' one_new.slug %}"#}
                {#                               class="btn btn-outline-success mb-3">View</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endif %}#}
                {#            {% endfor %}#}
                {##}
                {#        </div>#}


                {#        <div class="comment border-comment mb-4 mt-4">#}
                {#            <div class="py-3 ps-3" id="MakeComment">Последние проекты:</div>#}
                {##}
                {#            {% for project in projects %}#}
                {#                {% if not forloop.last %}#}
                {#                    <div class="my-3 px-3 recent-article mb-2">#}
                {#                        <div class="article-title fs-4 mt-3">#}
                {#                            {{ project.name }}#}
                {#                        </div>#}
                {#                        <span class="text-black-50 ps-0">{{ project.time_created }}</span>#}
                {#                        <div class="article-content mt-2">#}
                {#                            {{ project.description|truncatewords:10 }}#}
                {#                        </div>#}
                {#                        <span class="text-success">{{ project.owner.name }}</span>#}
                {#                        <div class="article-link mt-2">#}
                {#                            <a href="{% url 'robotics:project' project.slug %}" class="btn btn-outline-success mb-3">View</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% else %}#}
                {#                    <div class="my-3 px-3 mb-0">#}
                {#                        <div class="article-title fs-4 mt-3">#}
                {#                            {{ project.name }}#}
                {#                        </div>#}
                {#                        <span class="text-black-50 ps-0">{{ project.time_created }}</span>#}
                {#                        <div class="article-content">#}
                {#                            {{ project.description|truncatewords:10 }}#}
                {#                        </div>#}
                {#                        <span class="text-success">{{ project.owner.name }}</span>#}
                {#                        <div class="article-link mt-2">#}
                {#                            <a href="{% url 'robotics:project' project.slug %}" class="btn btn-outline-success mb-3">View</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endif %}#}
                {#            {% endfor %}#}
                {##}
                {#        </div>#}


            </div>
        </div>
    </div>
{% endblock %}