{% extends 'cluster/base.html' %}
{% load static %}
{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/cluster.jpg' %}" class="d-block w-100 main-photo"
                     alt="...">

            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Центр Цифровых технологий
    </div>
{% endblock %}
{% block base %}
    <div class="container-fluid gx-5">
        <div class="row">

            <!-- Left Sidebar -->
            <div class="col-md-3 sidebar mb-5">
                <div class="underline mt-3"></div>
                <div class="news py-3 ">
                    Навигация:
                </div>
                <div class="underline"></div>
                <div class="left-sidebar {% if left_sidebar_selected == 'Main' %}left-sidebar-active{% endif %}">
                    <a href="{% url 'index' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Главная
                        </div>
                    </a>
                </div>
                <div class="left-sidebar {% if left_sidebar_selected == 'News' %}left-sidebar-active{% endif %}">
                    <a href="{% url 'cluster:list_news' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2 ">
                            Новости
                        </div>
                    </a>
                </div>
                <div class="left-sidebar">
                    <a href="{% url 'index' %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Виртуальная экскурсия
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Recent articles -->
            <div class="col-md-3">
                <div class="underline mt-3">
                </div>
                <div class="news py-3 ">
                    Новости:
                </div>
                <div class="underline"></div>

                {% for new in news_list %}
                    <section class="wrapper mt-3">
                        <div class="container-fostrap ">
                            <div class="content">
                                <div class="container">
                                    <div class="row">
                                        <div class="card">
                                            <a class="img-card"
                                               href="{% url 'cluster:one_new' new.slug %}">
                                                <img src="{{ new.get_images.first.image.url }}" class="" alt="">
                                            </a>
                                            <div class="card-content py-0">
                                                <h4 class="card-title">
                                                    <a href="{% url 'cluster:one_new' new.slug %}">
                                                        {{ new.name }}
                                                    </a>
                                                </h4>
                                                <div class="truncate-right-sidebar">
                                                        {{ new.description|safe }}
                                                </div>
                                            </div>
                                            <div class="card-read-more mt-2">
                                                <a href="{% url 'cluster:one_new' new.slug %}"
                                                   class="btn btn-block">
                                                    Подробнее
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}