{% extends 'cluster/cluster_base.html' %}
{% load static %}



{% block content %}

    <!-- Main content -->

    <div class="mt-3">
        <div class="underline"></div>
        <div class="news my-3">
            О центре:
        </div>
        <div class="underline"></div>

        <div class="info my-3">
            Научно-технический центр цифровых технологий Брестского государственного технического университета – лидер в
            сфере разработок инновационных технологий, систем, изделий, оборудования и продуктов на основе современных
            цифровых технологий (цифровой инжиниринг, моделирование, сканирование, компьютерные технологии оптимизации,
            аддитивные технологии)
            <p></p>
            Цели:
            <ul>
                <li>Поддержка цифровой трансформации и внедрения цифровых технологий на предприятиях Республики
                    Беларусь
                </li>
                <li>Оказание консалтинговых услуг для предприятий в области цифровизации и внедрения новых
                    производственных технологий
                </li>
                <li>Систематическая подготовка и переподготовка кадров по направлению цифровые технологии производства
                </li>
                <li>Разработка комплексных отраслевых решений в области цифровых производственных технологий, элементов
                    и систем
                    Индустрии 4.0 для предприятий
                </li>
            </ul>
            {#            <div class="underline"></div>#}
            Состав центра:
            <ul>
                <li>Учебная научно-практическая лаборатория “Промышленная робототехника”</li>
                <li>Отраслевая лаборатория “Системы идентификации и промышленная робототехника ”</li>
                <li>Научная лаборатория “Цифровой инжиниринг в агро-промышленном комплексе”</li>
                <li>Отраслевая лаборатория “Технологии строительных конструкций”</li>
            </ul>
            {#            <div class="underline"></div>#}
            Заказчики и партнеры: <br>
            Центр активно сотрудничает с организациями и предприятиями Республики Беларусь в различных областях.
            Ключевыми заказчиками центра являются известные предприятия: ОАО Савушкин продукт, ООО Санта Бремор СП, ОАО
            Минский молочный завод №1, ОАО Купалинка, ОАО Берестейский пекарь и др. <br>
            Для успешного выполнения проектов центр привлекает партнеров: ООО Системы промышленной автоматизации, ООО
            Технологии точного земледелия, ООО ТэксаСтрой, ООО ИТ-Энерджи, ООО Розум Роботикс, ОДО Юкола-Инфо-Брест, ООО
            Концерн Р-про
            {#            <div class="underline"></div>#}
            <p></p>
            Технологии и ресурсы центра:
            <ul>
                <li>Инструменты для цифрового инжиниринга: Visual Components, Рациональное производство, Autodesk Revit,
                    Autodesk Inventor, Компас3D, CoppeliaSim, COMSOL Multiphysics
                </li>
                <li>Центр оснащен современным оборудованием: коллаборативные роботы UR16, TM12, Pulse70, робот-трипод
                    STS-40,
                    3D-принтер Ultimaker 5S, 3D-сканер, лазерный гравер и др.
                </li>
            </ul>
            СМИ о центре:
            <ul>
                <li><a href="https://www.sb.by/articles/pro-robotov-spirometr-i-stabilometricheskuyu-platformu.html">https://www.sb.by/articles/pro-robotov-spirometr-i-stabilometricheskuyu-platformu.html</a></li>
            </ul>

        </div>
    </div>

    <!-- 3D photo -->

    {#    <div class="virtual-photo">#}
    {#        <div class="virtual-word text-center fs-3 my-3">#}
    {#            Какой-то текст (ниже должна быть 3д фото нашей лаборатории)#}
    {#        </div>#}
    {#        <iframe width="90%" height="500px" allowFullScreen="true"#}
    {#                allow="accelerometer; magnetometer; gyroscope"#}
    {#                style="display:block; margin:20px auto; border:0 none; max-width:880px;border-radius:8px; box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);"#}
    {#                src="https://panoraven.com/en/embed/6g7bXTlQcE"></iframe>#}
    {#    </div>#}

    <!-- Partners -->

    {#    <div class="partners my-5">#}
    {#        <div class="partners-title text-center fs-3 text-uppercase mb-4">#}
    {#            Наши партнеры#}
    {#        </div>#}
    {#        <section class="customer-logos slider">#}
    {#            <div class="slide"><img#}
    {#                    src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">#}
    {#            </div>#}
    {#            <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg">#}
    {#            </div>#}
    {#            <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg">#}
    {#            </div>#}
    {#            <div class="slide"><img#}
    {#                    src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg">#}
    {#            </div>#}
    {#            <div class="slide"><img#}
    {#                    src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>#}
    {#            <div class="slide"><img#}
    {#                    src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>#}
    {#            <div class="slide"><img#}
    {#                    src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg">#}
    {#            </div>#}
    {#        </section>#}
    {#    </div>#}
    {##}
    {#    {% for h in hz %}#}
    {#        <h1>{{ h.name }}</h1>#}
    {#    {% endfor %}#}



{% endblock %}