{% extends 'cluster/cluster_base.html' %}
{% load static %}

{% block content %}

    <div class="mt-3">
        <div class="underline"></div>
        <div class="news my-3 text-center">
            {{ object.name }}
        </div>
        <div class="underline"></div>

        <div class="time-created-updated d-flex justify-content-between mt-3">
            <span class="date text-black-50 ps-0">Дата создания : {{ object.time_created }}</span>
            <span class="date text-black-50 ps-0">Последнее обновление : {{ object.time_updated }}</span>
        </div>
    </div>
    <!-- Сarousel -->


    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for object in object.get_images %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:-1 }}"
                    class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in object.get_images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {#    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">#}
    {#        <ol class="carousel-indicators">#}
    {#            {% for image in object.get_images %}#}
    {#                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"#}
    {#                    class="{% if forloop.first %}active{% endif %}"></li>#}
    {#            {% endfor %}#}
    {#        </ol>#}
    {#        <div class="carousel-inner">#}
    {#            {% for image in object.get_images %}#}
    {#                <div class="carousel-item {% if forloop.first %}active{% endif %}">#}
    {#                    <img src="{{ image.image.url }}" class="d-block w-100" alt="...">#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">#}
    {#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
    {#            <span class="sr-only">Предыдущий</span>#}
    {#        </button>#}
    {#        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">#}
    {#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
    {#            <span class="sr-only">Следующий</span>#}
    {#        </button>#}
    {#    </div>#}






    {#    <div id="carouselExampleCaptions" class="carousel slide mt-3" data-bs-ride="false">#}
    {#        <div class="carousel-indicators">#}
    {#            {% for image in object.get_images %}#}
    {#                <button type="button" data-bs-target="#carouselExampleCaptions"#}
    {#                        data-bs-slide-to="{{ forloop.counter|add:-1 }}" class="{% if forloop.first %}active{% endif %}"#}
    {#                        aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>#}
    {#            {% endfor %}#}
    {##}
    {#        </div>#}
    {#        <div class="carousel-inner">#}
    {#            {% for image in object.get_images %}#}
    {#                <div class="carousel-item {% if forloop.first %} active {% endif %} hz">#}
    {#                    <img src="{{ image.image.url }}" class="d-block w-100 rounded"#}
    {#                         alt="...">#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"#}
    {#                data-bs-slide="prev">#}
    {#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
    {#            <span class="visually-hidden">Предыдущий</span>#}
    {#        </button>#}
    {#        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"#}
    {#                data-bs-slide="next">#}
    {#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
    {#            <span class="visually-hidden">Следующий</span>#}
    {#        </button>#}
    {#    </div>#}

    <div class="news-content mt-3 fs-5 ">
        {% autoescape off %}{{ object.description|linebreaks }}{% endautoescape %}
    </div>

    {% if object.video_link %}
        <div class="video-news mt-3 mb-5">
            {% autoescape off %}{{ object.video_link }}{% endautoescape %}
        </div>
    {% endif %}

{% endblock %}