{% extends 'robotics/laboratory_base.html' %}
{% load static %}
{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/digital_engineering.png' %}"
                     class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Цифровой инжиниринг АПК
    </div>
{% endblock %}

{% block mainlink %}
    <a href="{% url 'robotics:agriculture' %}">
        <div class="left-sidebar-link py-3 my-3 pl-2">
            Главная
        </div>
    </a>
{% endblock %}

{% block content %}
    <div class="mt-3">
        <div class="underline"></div>
        <div class="news my-3">
            О лаборатории:
        </div>
        <div class="underline"></div>

        <div class="info my-3">
            <div class="border-main px-2 py-3">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Научно-исследовательская лаборатория «Цифровой
                инжиниринг агропромышленного комплекса» была создана и
                открыта при поддержке Брестского областного исполнительного комитета, ОАО «Технологии земледелия» и
                группы
                компаний «Санта» ОАО «Савушкин продукт». <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Основная цель лаборатории цифрового инжиниринга АПК —
                подготовка инженерных кадров и разработка
                научно-технической инновационной продукции в аграрном секторе экономики.
            </div>

            <div class="section-title text-center mt-3">Цели</div>

            <ol class="gradient-list">
                <li>Подготовка кадров на основе новых производственных технологий и инструментов
                </li>
                <li>Освоение существующих и разработка новых инновационных технологий и продуктов
                </li>
                <li>Внедрение моделирования и вычислительных инструментов
                </li>
                <li>Cоздание программного обеспечения
                </li>
                <li>
                    Cопровождение инновационных проектов и процессов их внедрения в реальный сектор экономики
                </li>
            </ol>


            <div class="section-title text-center mt-4">Направление работы</div>
            <div class="shadow-bow pb-3 pt-2 mt-3">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-atom"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Технологии индивидуального
                    подбора для отдельных органов растений состава биологических препаратов
                    для обработки сельскохозяйственных культур
                </div>
            </div>
            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-hand-holding-droplet"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Технологии точного орошения,
                    полива сельскохозяйственных растений с учетом фактического уровня
                    сезонного увлажнения и его соответствия нормативным требованиям с выбором режима полива с
                    минимизацией расхода воды
                </div>
            </div>

            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-truck-droplet"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Технологии водного
                    автопилотирования сельскохозяйственной техники
                </div>
            </div>
            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-regular fa-calendar-days"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Технологии планирования сроков
                    проведения полевых работ на основании высокоточных локальных
                    метеоданных
                </div>
            </div>
            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-shield-halved"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Технологии мониторинга состояния
                    полей и внесения средств защиты растений с помощью беспилотных
                    летательных аппаратов
                </div>
            </div>

            <div class="section-title text-center mt-5">Методология – цифровой инжиниринг</div>
            <ul class="list-unstyled">
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Физико-математическое
                    моделирование (Comsol)
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Моделирование зданий и сооружений
                    BIM (Revit)
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Моделирование пространственного
                    объектов GIS (ArcGis)
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Создание программного обеспечения
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Цифровые двойники технологических
                    процессов (Visual Components)
                </li>
            </ul>


            <div class="section-title text-center mt-4">Состав лаборатории</div>

            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Шпендик Наталья Николаевна
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Руководитель лаборатории - Шпендик Наталья Николаевна, кандидат
                                            географических наук, доцент кафедры
                                            теплогазоснабжения и вентиляции. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                           aria-controls="collapseTwo">
                                            Каперейко Юлия
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Стажер младшего научного сотрудника - Каперейко Юлия.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                           aria-controls="collapseThree">
                                            Студенты и магистранты
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Студенты и магистранты следующих специальностей: теплогазоснабжения и
                                            вентиляции, искусственный
                                            интеллект, программное обеспечение, автоматизированные системы обработки
                                            информации, вычислительные
                                            машины системы и сети, промышленная электроника.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                           aria-controls="collapseFour">
                                            Инженерный состав
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>Инженерный состав партнеров лаборатории: ООО “Технологии земледелия”.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section-title text-center mt-4">Оборудование лаборатории</div>

            <div class="list">
                <ul class="px-0">
                    <li><span>Дисплей Trimble и приложение Precision IQ</span>
                    </li>
                    <li><span>Программное обеспечение Trimble Ag Software</span></li>
                    <li>
                        <span>Оборудование по мониторингу урожайности и управлению дозирующим устройством зерновой сеялки по протоколу ISOBUS</span>
                    </li>
                </ul>
            </div>
            {##}
            {#            <p>Оборудование лаборатории представлено тренировочными симуляторами для обучения: дисплей Trimble и#}
            {#                приложение Precision IQ, программное обеспечение Trimble Ag Software (занесение информации, удаленный#}
            {#                контроль за работой техники, синхронизация программного обеспечения с дисплеями посредством#}
            {#                Internet-соединения, создание электронных карт урочищ и карт предписаний для дифференцированного#}
            {#                внесения), оборудование по мониторингу урожайности и управлению дозирующим устройством зерновой сеялки#}
            {#                по протоколу ISOBUS#}
            {#            </p>#}
            <div class="section-title text-center mt-5">СМИ о лаборатории</div>

            <ul class="list-unstyled">
                <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                        href="https://www.belta.by/regions/view/laboratoriju-tsifrovogo-inzhiniringa-apk-otkryli-v-brestskom-tehnicheskom-universitete-553388-2023/"
                        target="_blank">Лабораторию цифрового инжиниринга АПК открыли в Брестском техническом
                    университете</a>
                </li>
                <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                        href="https://news.bstu.by/2023/03/02/02-03-2023/" target="_blank">Открыта
                    научно-исследовательская лаборатория «Цифровой инжиниринг АПК»</a>
                </li>
            </ul>

            <div class="section-title text-center mt-5">Контакты</div>

            <ul class="list-unstyled d-none d-md-block text-center">
                <li class="mt-25"><i class="fa fa-solid fa-map-location-dot mr-2 mt-1"></i><a
                        href="https://maps.app.goo.gl/TZu1XsgMs6M5G5wR7">224017, ул. Московская, 267, корпус 3, ауд.
                    127а</a><i class="fa fa-solid fa-map-location-dot ml-2 mt-1"></i>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-phone mr-2 mt-1"></i><a
                        href="tel:+375297297567">+375297297567</a><i class="fa fa-solid fa-phone ml-2 mt-1"></i>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-envelope mr-2 mt-1"></i><a
                        href="mailto:shpendik@tut.by">shpendik@tut.by</a><i
                        class="fa fa-solid fa-envelope ml-2"></i>
                </li>
            </ul>

            <ul class="list-unstyled d-md-none">
                <li class="mt-25"><i class="fa fa-solid fa-map-location-dot mr-2 mt-1"></i><a
                        href="https://maps.app.goo.gl/TZu1XsgMs6M5G5wR7">224017, ул. Московская, 267, корпус 3, ауд.
                    127а</a>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-phone mr-2 mt-1"></i><a
                        href="tel:+375297297567">+375297297567</a>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-envelope mr-2 mt-1"></i><a
                        href="mailto:shpendik@tut.by">shpendik@tut.by</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}