{% extends 'robotics/laboratory_base.html' %}
{% load static %}
{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/digital_engineering.png' %}"
                     class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Цифровой инжиниринг АПК
    </div>
{% endblock %}

{% block content %}
    <div class="mt-3">
        <div class="underline"></div>
        <div class="news my-3">
            О лаборатории:
        </div>
        <div class="underline"></div>

        <div class="info my-3">
            Научно-исследовательская лаборатория «Цифровой инжиниринг агропромышленного комплекса» была создана и
            открыта при поддержке Брестского областного исполнительного комитета, ОАО «Технологии земледелия» и группы
            компаний «Санта» ОАО «Савушкин продукт».
            <br>
            Основная цель лаборатории цифрового инжиниринга АПК — подготовка инженерных кадров и разработка
            научно-технической инновационной продукции в аграрном секторе экономики.
            <div class="underline my-3"></div>
            <p></p>
            Цели:
            <ul>
                <li>подготовка кадров на основе новых производственных технологий и инструментов</li>
                <li>освоение существующих и разработка новых инновационных технологий и продуктов</li>
                <li>внедрение моделирования и вычислительных инструментов</li>
                <li>создание программного обеспечения</li>
                <li>сопровождение инновационных проектов и процессов их внедрения в реальный сектор экономики</li>
            </ul>

            {#            <div class="underline"></div>#}
            Методология – цифровой инжиниринг:
            <ul>
                <li>Физико-математическое моделирование (Comsol)</li>
                <li>Моделирование зданий и сооружений BIM (Revit)</li>
                <li>Моделирование пространственного объектов GIS (ArcGis)</li>
                <li>создание программного обеспечения;</li>
                <li>Цифровые двойники технологических процессов (Visual Components)</li>
            </ul>
            Основные направления деятельности:
            <ul>
                <li>Технологии индивидуального подбора для отдельных органов растений состава биологических препаратов
                    для обработки сельскохозяйственных культур
                </li>
                <li>Технологии точного орошения, полива сельскохозяйственных растений с учетом фактического уровня
                    сезонного увлажнения и его соответствия нормативным требованиям с выбором режима полива с
                    минимизацией расхода воды
                </li>
                <li>Технологии водного автопилотирования сельскохозяйственной техники</li>
                <li>Технологии планирования сроков проведения полевых работ на основании высокоточных локальных
                    метеоданных
                </li>
                <li>технологии мониторинга состояния полей и внесения средств защиты растений с помощью беспилотных
                    летательных аппаратов
                </li>
            </ul>
            Состав лаборатории:
            <ul>
                <li>Руководитель лаборатории - Шпендик Наталья Николаевна, кандидат географических наук, доцент кафедры
                    теплогазоснабжения и вентиляции
                </li>
                <li>Стажер младшего научного сотрудника - Каперейко Юлия</li>
                <li>Студенты и магистранты следующих специальностей: теплогазоснабжения и вентиляции, искусственный
                    интеллект, программное обеспечение, автоматизированные системы обработки информации, вычислительные
                    машины системы и сети, промышленная электроника
                </li>
                <li>Инженерный состав партнеров лаборатории: ООО “Технологии земледелия”</li>
            </ul>
            Оборудование лаборатории: <br>
            <p>Оборудование лаборатории представлено тренировочными симуляторами для обучения: дисплей Trimble и
                приложение Precision IQ, программное обеспечение Trimble Ag Software (занесение информации, удаленный
                контроль за работой техники, синхронизация программного обеспечения с дисплеями посредством
                Internet-соединения, создание электронных карт урочищ и карт предписаний для дифференцированного
                внесения), оборудование по мониторингу урожайности и управлению дозирующим устройством зерновой сеялки
                по протоколу ISOBUS
            </p>
            СМИ о лаборатории:
            <ul>
                <li>https://www.belta.by/regions/view/laboratoriju-tsifrovogo-inzhiniringa-apk-otkryli-v-brestskom-tehnicheskom-universitete-553388-2023/</li>
                <li>https://news.bstu.by/2023/03/02/02-03-2023/</li>
            </ul>
            Контакты <br>
            224017, ул. Московская, 267, корпус 3, ауд. 127а <br>
            +375297297567 <br>
            (shpendik@tut.by) <br>
        </div>
    </div>

{% endblock %}