{% extends 'robotics/laboratory_base.html' %}
{% load static %}

{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/bim.jpg' %}"
                     class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Научино-исследовательский центр Инноваций в строительстве
    </div>
{% endblock %}


{% block mainlink %}
    <a href="{% url 'robotics:technical_vision' %}">
        <div class="left-sidebar-link py-3 my-3 pl-2">
            Главная
        </div>
    </a>
{% endblock %}

{% block content %}
    <div class="my-3">
        <div class="underline"></div>
        <div class="news my-3">
            О лаборатории:
        </div>
        <div class="underline mb-3"></div>
        <p>Отраслевая лаборатория «НИЦИС» (далее Лаборатория) является структурным подразделением
            научно-исследовательской части учреждения образования «Брестский государственный технический университет».
        </p>
        <p>Основной целью деятельности Лаборатории является выполнение научно-исследовательских, опытно-конструкторских,
            опытно-технологических и проектно-изыскательских работ, научное сопровождение инновационных и уникальных
            проектов в сфере строительства, разработка технических нормативно-правовых актов в строительстве,
            опытно-промышленная апробация и обеспечение внедрения в производство и образовательный процесс результатов
            научно-технической деятельности.</p>
        Направления работы:
        <ul>
            <li>исследование, разработка и внедрение эффективных предварительно напряженных конструкций и технологий их
                получения с применением напрягающих бетонов;
            </li>
            <li>проектирование оптимальных составов различных бетонных смесей, технологии их приготовления, укладки и
                ухода;
            </li>
            <li>разработка и внедрение новых эффективных методов контроля свойств материалов и изделий по критериям
                соответствия;
            </li>
            <li>разработка технических нормативно-правовых актов, входящих в национальную систему стандартизации в
                строительстве Республики Беларусь;
            </li>
            <li>разработка технологической документации для производства строительных материалов, изделий,
                конструкций;
            </li>
            <li>разработка рабочих чертежей типовых серий для изготовления сборных конструкций зданий и сооружений;</li>
            <li>разработка, научное сопровождение внедрения зарубежных и отечественных передовых и перспективных
                технологий в строительстве, способствующих эффективному функционированию отрасли;
            </li>
            <li>выполнение экспертных оценок конструкций, существующих зданий и сооружений на основе реализации
                положений стратегии устойчивого развития;
            </li>
            <li>разработка и внедрение информационного моделирования (BIM –моделирования) при проектировании новых,
                экспертной оценке технического состояния (диагностике) существующих конструкций зданий и сооружении.
            </li>
        </ul>
        Основные задачи:
        <ul>
            <li>выполнение научно-исследовательских, опытно-конструкторских и опытно-технологических работ, направленных
                на реализацию заданий, выложенных на государственного заказчика в соответствии с законодательством
                Республики Беларусь, а также выполняемых другими организациями;
            </li>
            <li>участие в реализации образовательных программ, соответствующих направлениям деятельности отраслевой
                лаборатории, в части интеграции подготовки к научно-исследовательской деятельности; содействие
                формированию навыков научно-исследовательской деятельности студентов, магистрантов, аспирантов и
                преподавателей;
            </li>
            <li>содействие практическому внедрению результатов научных исследований и разработок в производственную
                деятельность организаций строительной отрасли и образовательный процесс университета;
            </li>
            <li>разработка практических рекомендаций по улучшению технико-экономических и экологических показателей
                действующих и проектируемых предприятий строительной отрасли и возводимых объектов;
            </li>
            <li>составление аналитических обзоров и экспертных заключений при закупках и внедрении новых материалов,
                технологий, производств для строительной отрасли.
            </li>
        </ul>
        Состав лаборатории:
        <ul>
            <li>Кривицкий Павел Васильевич – заведующий лабораторией, кандидат технических наук, доцент</li>
            <li>Тур Виктор Владимирович – главный научный сотрудник, доктор технических наук, профессор</li>
            <li>Пойта Петр Степанович – главный научный сотрудник, доктор технических наук, профессор</li>
            <li>Шурин Андрей Брониславович – ведущий научный сотрудник, кандидат технических наук, доцент</li>
            <li>Марчук Виталий Алексеевич – ведущий научный сотрудник, кандидат технических наук, доцент</li>
            <li>Матвеенко Никифор Викторович – старший научный сотрудник, магистр технических наук</li>
            <li>Лизогуб Александр Александрович – младший научный сотрудник, магистр технических наук</li>
            <li>Шелест Елена Валерьевна – младший научный сотрудник</li>
            <li>Чернявский Илья Дмитриевич – младший научный сотрудник</li>
            <li>Пукович Кристина Валерьевна – инженер</li>
            <li>Ткачук Иван Валерьевич – стажер младшего научного сотрудника</li>
            <li>Студенты и магистранты специальностей строительного факультета и факультета инженерных систем и
                экологии
            </li>
        </ul>
        Применяемые технологии
        <ul>
            <li>Информация отсутсвует</li>
        </ul>
        Оборудование лаборатории
        <ul>
            <li>Информация отсутсвует</li>
        </ul>
        СМИ о лаборатории:
        <ul>
            <li><a href="https://virtualbrest.ru/news113307.php">https://virtualbrest.ru/news113307.php</a></li>
            <li><a href="https://www.sb.by/articles/pro-robotov-spirometr-i-stabilometricheskuyu-platformu.html">https://www.sb.by/articles/pro-robotov-spirometr-i-stabilometricheskuyu-platformu.html</a>
            </li>
        </ul>
        Контакты
        <p>Отраслевая лаборатория «Научно-исследовательский центр инноваций в строительстве»</p>
        <p>224017, ул. Московская, 267, корпус 2, ауд. 219</p>
        <p>Тел. <a href="tel:+375162592918">+375 (162) 59-29-18</a></p>
        <p>Моб. <a href="tel:+375336464200">+375 (33) 646-42-00</a></p>
        <a href="mailto:nis-is@bstu.by">nis-is@bstu.by</a>
    </div>
{% endblock %}