{% extends 'robotics/laboratory_base.html' %}
{% load static %}

{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/bim.jpg' %}"
                     class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title text-center">
        Научно-исследовательский центр Инноваций в строительстве
    </div>
{% endblock %}


{% block mainlink %}
    <a href="{% url 'robotics:technical_vision' %}">
        <div class="left-sidebar-link py-3 my-3 pl-2">
            Главная
        </div>
    </a>
{% endblock %}

{% block content %}
    <div class="my-3">
        <div class="underline"></div>
        <div class="news my-3">
            О лаборатории:
        </div>
        <div class="underline mb-3"></div>
        <div class="info my-3">
            <div class="border-main px-2 py-3">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Отраслевая лаборатория «НИЦИС» (далее Лаборатория)
                является структурным подразделением
                научно-исследовательской части учреждения образования «Брестский государственный технический
                университет».
                компаний «Санта» ОАО «Савушкин продукт». <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Основной целью деятельности Лаборатории является
                выполнение научно-исследовательских, опытно-конструкторских,
                опытно-технологических и проектно-изыскательских работ, научное сопровождение инновационных и уникальных
                проектов в сфере строительства, разработка технических нормативно-правовых актов в строительстве,
                опытно-промышленная апробация и обеспечение внедрения в производство и образовательный процесс
                результатов
                научно-технической деятельности.
            </div>

            <div class="section-title text-center mt-3">Цели</div>
            <ol class="gradient-list">
                <li>Исследование, разработка и внедрение эффективных
                    предварительно напряженных конструкций и технологий их получения с применением напрягающих бетонов
                </li>
                <li>Проектирование оптимальных составов различных бетонных
                    смесей, технологии их приготовления, укладки и ухода
                </li>
                <li>Разработка и внедрение новых эффективных методов контроля
                    свойств материалов и изделий по критериям
                    соответствия, рабочих чертежей типовых серий для изготовления
                    сборных конструкций зданий и
                    сооружений, научное сопровождение внедрения зарубежных и
                    отечественных передовых и перспективных
                    технологий в строительстве, способствующих эффективному функционированию отрасли
                </li>
                <li>Разработка технических нормативно-правовых актов, входящих в
                    национальную систему стандартизации в
                    строительстве Республики Беларусь, технологической документации для производства
                    строительных материалов, изделий,
                    конструкций
                </li>
                <li>Разработка и внедрение информационного моделирования (BIM
                    –моделирования) при проектировании новых,
                    экспертной оценке технического состояния (диагностике) существующих конструкций зданий и сооружении
                </li>
                <li>Выполнение экспертных оценок конструкций, существующих зданий
                    и сооружений на основе реализации
                    положений стратегии устойчивого развития
                </li>
            </ol>

            <div class="section-title text-center mt-4">Направление работы</div>

            <div class="shadow-bow pb-3 pt-2 mt-3">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-atom"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Выполнение научно-исследовательских, опытно-конструкторских и
                    опытно-технологических работ, направленных на реализацию заданий, выложенных на государственного
                    заказчика в соответствии с законодательством Республики Беларусь, а также выполняемых другими
                    организациями
                </div>
            </div>
            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-school"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Участие в реализации образовательных программ,
                    соответствующих направлениям деятельности отраслевой лаборатории, в части интеграции подготовки к
                    научно-исследовательской деятельности; содействие формированию навыков научно-исследовательской
                    деятельности студентов, магистрантов, аспирантов и преподавателей
                </div>
            </div>

            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-user-graduate"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Содействие практическому внедрению результатов научных
                    исследований и разработок в производственную деятельность организаций строительной отрасли и
                    образовательный процесс университета
                </div>
            </div>
            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-arrow-trend-up"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Разработка практических рекомендаций по улучшению
                    технико-экономических и экологических показателей действующих и проектируемых предприятий
                    строительной отрасли и возводимых объектов
                </div>
            </div>
            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-magnifying-glass-chart"></i></div>
                <div class="text-center basic-3 pb-2 px-3">Составление аналитических обзоров и экспертных заключений при
                    закупках и внедрении новых материалов, технологий, производств для строительной отрасли
                </div>
            </div>

            <div class="section-title text-center mt-4">Состав лаборатории</div>

            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Кривицкий Павел Васильевич
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Кривицкий Павел Васильевич – заведующий лабораторией, кандидат технических
                                            наук, доцент</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                           aria-controls="collapseTwo">
                                            Тур Виктор Владимирович
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Тур Виктор Владимирович – главный научный сотрудник, доктор технических наук,
                                            профессор</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                           aria-controls="collapseThree">
                                            Пойта Петр Степанович
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Пойта Петр Степанович – главный научный сотрудник, доктор технических наук,
                                            профессор</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                           aria-controls="collapseFour">
                                            Марчук Виталий Алексеевич
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>Марчук Виталий Алексеевич – ведущий научный сотрудник, кандидат технических
                                            наук, доцент</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingEleven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseEleven" aria-expanded="false"
                                           aria-controls="collapseEleven">
                                            Матвеенко Никифор Викторович
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingEleven">
                                    <div class="panel-body">
                                        <p>Матвеенко Никифор Викторович – старший научный сотрудник, магистр технических
                                            наук</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                           aria-controls="collapseFive">
                                            Лизогуб Александр Александрович
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <p>Лизогуб Александр Александрович – младший научный сотрудник, магистр
                                            технических наук</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                           aria-controls="collapseSix">
                                            Шелест Елена Валерьевна
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <p>Шелест Елена Валерьевна – младший научный сотрудник</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
                                           aria-controls="collapseSeven">
                                            Чернявский Илья Дмитриевич
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <p>Чернявский Илья Дмитриевич – младший научный сотрудник</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseEight" aria-expanded="false"
                                           aria-controls="collapseEight">
                                            Пукович Кристина Валерьевна – инженер
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingEight">
                                    <div class="panel-body">
                                        <p>Пукович Кристина Валерьевна – инженер</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingNine">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseNine" aria-expanded="false"
                                           aria-controls="collapseNine">
                                            Ткачук Иван Валерьевич
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingNine">
                                    <div class="panel-body">
                                        <p>Ткачук Иван Валерьевич – стажер младшего научного сотрудника</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTen">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseTen" aria-expanded="false"
                                           aria-controls="collapseTen">
                                            Студенты и магистранты
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTen">
                                    <div class="panel-body">
                                        <p>Студенты и магистранты специальностей строительного факультета и факультета
                                            инженерных систем и
                                            экологии</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="section-title text-center mt-4">Применяемые технологии</div>
            <div class="list">
                <ul class="px-0">
                    <li><span>Информация отсутсвует</span>
                    </li>
                </ul>
            </div>
            <div class="section-title text-center mt-4">Оборудование лаборатории</div>
            <div class="list">
                <ul class="px-0">
                    <li><span>Информация отсутсвует</span>
                    </li>
                </ul>
            </div>


            <div class="section-title text-center mt-5">СМИ о лаборатории</div>

            <ul class="list-unstyled">
                <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                        href="https://www.sb.by/articles/pro-robotov-spirometr-i-stabilometricheskuyu-platformu.html"
                        target="_blank">
                    Про роботов, спирометр и стабилометрическую платформу</a>
                </li>
            </ul>

            <div class="section-title text-center mt-5">Контакты</div>

            <ul class="list-unstyled d-none d-md-block text-center">
                <li class="mt-25"><i class="fa fa-solid fa-map-location-dot mr-2 mt-1"></i><a
                        href="https://maps.app.goo.gl/TZu1XsgMs6M5G5wR7">224017, ул. Московская, 267, корпус 2, ауд.
                    219</a><i class="fa fa-solid fa-map-location-dot ml-2 mt-1"></i>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-phone mr-2 mt-1"></i><a
                        href="tel:+375162592918">Раб. +375162592918</a> | <a
                        href="tel:+375336464200">Моб. +375336464200</a><i class="fa fa-solid fa-phone ml-2 mt-1"></i>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-envelope mr-2 mt-1"></i><a
                        href="mailto:nis-is@bstu.by">nis-is@bstu.by</a><i
                        class="fa fa-solid fa-envelope ml-2"></i>
                </li>
            </ul>

            <ul class="list-unstyled d-md-none">
                <li class="mt-25"><i class="fa fa-solid fa-map-location-dot mr-2 mt-1"></i><a
                        href="https://maps.app.goo.gl/TZu1XsgMs6M5G5wR7">224017, ул. Московская, 267, корпус 2, ауд.
                    219</a>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-phone mr-2 mt-1"></i><a
                        href="tel:+375162592918">Раб. +375162592918</a> | <a
                        href="tel:+375336464200">Моб. +375336464200</a>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-envelope mr-2 mt-1"></i><a
                        href="mailto:nis-is@bstu.by">nis-is@bstu.by</a>
                </li>
            </ul>


        </div>
    </div>
{% endblock %}