{% extends 'cluster/base.html' %}
{% load static %}
{% block base %}
    <div class="container-fluid gx-5">
        <div class="row">

            <!-- Left Sidebar -->
            <div class="col-md-3 sidebar mb-5">
                <div class="underline mt-3"></div>
                <div class="news py-3 ">
                    Навигация:
                </div>
                <div class="underline"></div>
                <div class="left-sidebar {% if left_sidebar_selected == 'Main' %} left-sidebar-active {% endif %}">
                    {% block mainlink %}

                    {% endblock %}
                </div>
                <div class="left-sidebar {% if left_sidebar_selected == 'projects' %} left-sidebar-active {% endif %}">
                    <a href="{% url 'robotics:list_projects' projects.first.owner.slug %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Проекты
                        </div>
                    </a>
                </div>
                <div class="left-sidebar {% if left_sidebar_selected == 'technologies' %} left-sidebar-active {% endif %}">
                    <a href="{% url 'robotics:list_technologies' technologies.first.owner.slug %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Технологии
                        </div>
                    </a>
                </div>
                <div class="left-sidebar {% if left_sidebar_selected == 'courses' %} left-sidebar-active {% endif %}">
                    <a href="{% url 'robotics:list_courses' courses.first.owner.slug %}">
                        <div class="left-sidebar-link py-3 my-3 pl-2">
                            Курсы
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Recent articles -->
            <div class="col-md-3">
                <div class="underline mt-3">
                </div>
                <div class="news py-3 ">
                    Последние проекты:
                </div>
                <div class="underline"></div>
                {% for new in projects %}
                    <section class="wrapper mt-3">
                        <div class="container-fostrap ">
                            <div class="content">
                                <div class="container">
                                    <div class="row">
                                        <div class="card">
                                            <a class="img-card" href="">
                                                <img src="{{ new.get_images.first.img.url }}" class="" alt="">
                                            </a>
                                            <div class="card-content py-0">
                                                <h4 class="card-title">
                                                    <a href="">
                                                        {{ new.name }}
                                                    </a>
                                                </h4>
                                                <p class="">
                                                    {% autoescape off %}
                                                        {{ new.description|truncatewords:10 }}{% endautoescape %}
                                                </p>
                                            </div>
                                            <div class="card-read-more">
                                                <a href=""
                                                   class="btn btn-block">
                                                    Подробнее
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}