{% extends 'robotics/laboratory_base.html' %}
{% load static %}
{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/robotics.jpg' %}" class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Промышленная робототехника
    </div>
{% endblock %}
{% block mainlink %}
    <a href="{% url 'robotics:robotics' %}">
        <div class="left-sidebar-link py-3 my-3 pl-2">
            Главная
        </div>
    </a>
{% endblock %}
{% block content %}
    <div class="mt-3">
        <div class="underline"></div>
        <div class="news my-3">
            О лаборатории:
        </div>
        <div class="underline"></div>

        <div class="info my-3">
            <div class="border-main px-2 py-3 ">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Учебная научно-практическая лаборатория “Промышленная
                робототехника” - ведущая лаборатория БрГТУ в области
                обучения и разработки проектов по автоматизации и роботизации производственных предприятий.
            </div>
            <div class="section-title text-center mt-4">Цели</div>

            <ol class="gradient-list">
                <li>Подготовка и переподготовка кадров в области промышленной робототехники, автоматизации
                    технологических процессов, цифрового инжиниринга, компьютерного моделирования и цифровых двойников
                </li>
                <li>Разработка новых и инновационных технологий, образцов, изделий для областей промышленности
                </li>
                <li>Разработка робототехнических комплексов, уникальных захватных механизмов, специализированных
                    транспортных систем, систем автоматизации
                </li>
                <li>Моделирование и анализ технологических процессов
                </li>
            </ol>


            <div class="section-title text-center mt-4">Компетенции</div>
            <div class="shadow-bow pb-3 pt-2 mt-3">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-computer"></i></div>
                <div class="text-center">Компьютерный инжиниринг производственных площадок, технологических процессов,
                    робототехнических
                    комплексов и систем на основе современных инструментов Visual Components, Рациональное производство,
                    AnyLogic
                </div>
                <div class="line my-2 my-md-1"></div>
            </div>
            <div class="shadow-bow pb-3 pt-2 mt-4">
                <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-robot"></i></div>
                <div class="text-center">Проектирование новых и уникальных видов РТК, захватных механизмов,
                    моделирование и прототипирование
                    устройств с использованием технологии коллаборативных роботов (Techman Robots, Rozum Robotics,
                    Universal Robots, Omron)
                </div>
                <div class="line my-2 my-md-1"></div>
            </div>
            <div class="itd_circle mt-5"><i class="fa-regular fa-file"></i></div>
            <div class="text-center">Подготовка конструкторской документации, разработка технологической документации с
                использование
                Autodesk Inventor, Компас3D
            </div>
            <div class="line my-2 my-md-1"></div>


            <div class="itd_circle mt-5"><i class="fa-solid fa-code"></i></div>
            <div class="text-center">Разработка программного обеспечения для систем управления РТК, коллаборативными и
                промышленными
                роботами
            </div>
            <div class="line my-2 my-md-1"></div>


            <div class="itd_circle mt-5"><i class="fa-solid fa-magnifying-glass-chart"></i></div>
            <div class="text-center">Разработка компьютерных моделей производственных процессов, сценариев и вариантов
                применения, сбор и
                анализ модельных данных, подготовка и обоснование управленческих решений
            </div>
            <div class="line my-2 my-md-1"></div>


            <div class="section-title text-center mt-4">Направление работы</div>
            <ul>
                <li>Разработка и внедрение новых современных цифровых технологий в производственные процессы
                    предприятий
                </li>
                <li>Повышение кадрового потенциала предприятий</li>
                <li>Решение производственных проблем, узких мест, повышение качественных и количественных показателей
                    работы производственных площадок заказчиков
                </li>
                <li>Консультирование предприятий по вопросам развития производственных процессов, совершенствования
                    технологий
                </li>
                <li>Популяризация новых инновационных технологий для предприятий в виде семинаров, выставок, выступлений
                    в СМИ
                </li>
                <li>Участие в разработке стандартов для новых технологий</li>
            </ul>
            <div class="section-title text-center mt-4">Состав лаборатории</div>
            <ul>
                <li>Заведующий лабораторией - Касьяник Валерий Викторович, старший преподаватель кафедры
                    интеллектуальных информационных технологий
                </li>
                <li>Студенты и магистранты следующих специальностей: искусственный интеллект, программное обеспечение,
                    автоматизированные системы обработки информации, вычислительные машины системы и сети, промышленная
                    электроника
                </li>
                <li>Инженерный состав партнеров лаборатории: ООО Системы промышленной автоматизации, ООО Тэкса</li>
            </ul>
            <div class="section-title text-center mt-4">Применяемые технологии</div>
            <ul>
                <li>Коллаборативные роботы Techman Robots, Rozum Robots, Universal Robots, Han\s Robots</li>
                <li>Промышленные роботы Omron, Hiwin, Kawasaki, Schneider Electric</li>
                <li>Программное обеспечение Visual Components/Рациональное производство для моделирования РТК</li>
                <li>Симулятор CoppelliaSim/Webots</li>
                <li>Фреймворк Robotics Operating system</li>
                <li>Фреймворк для моделирования SimPy</li>
                <li>Среда моделирования AnyLogic</li>
            </ul>
            <div class="section-title text-center mt-4">Оборудование лаборатории</div>
            <ul>
                <li>Коботы UR-10, TM-12/5, Rozum Pulse 70/90, дельта робот STS-40</li>
                <li>3D принтер Ultimaker 5S</li>
                <li>3D сканер EinScan Pro</li>
                <li>Мобильный робот Omron LD-90</li>
                <li>Мобильный робот Robotize Gopal 400</li>
                <li>Мобильный робот TurtleBot3</li>
                <li>Стенд для тестирования пневматических захватных механизмов</li>
                <li>Набор захватных механизмов OnRobot</li>
                <li>Набор захватных механизмов Vuototechnica</li>
            </ul>
            <div class="section-title text-center mt-4">СМИ о лаборатории</div>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-regular fa-newspaper"></i>
                    <a href="https://www.belta.by/pressconference/view/tehnologicheskij-suverenitet-belarusi-operezhajuschee-razvitie-ekonomiki-cherez-modernizatsiju-1514/"
                       target="_blank">Технологический суверенитет Беларуси</a>
                </li>
                <li><i class="fa-li fa fa-regular fa-newspaper"></i><a
                        href="https://old.bstu.by/news/3410/123/otkrytie-laboratorii-promyshlennaya-robototehnika"
                        target="_blank">Открытие лаборатории «Промышленная робототехника»</a>
                </li>
                <li><i class="fa-li fa fa-regular fa-newspaper"></i>
                    <a href="https://www.belnovosti.by/tehnologii/v-breste-poyavilas-laboratoriya-promyshlennoy-robototehniki"
                       target="_blank">В Бресте появилась лаборатория промышленной робототехники</a>
                </li>
                <li><i class="fa-li fa fa-regular fa-newspaper"></i><a href="https://datamark.by/robototekhnika/"
                                                                       target="_blank">Учебно-научно-практическая
                    лаборатория
                    «Промышленная робототехника»</a></li>
                <li><i class="fa-li fa fa-regular fa-newspaper"></i><a
                        href="https://belchas.1prof.by/news/roboty-i-koboty/" target="_blank">Роботы и коботы</a>
                </li>
                <li><i class="fa-li fa fa-regular fa-newspaper"></i>
                    <a href="https://edu.gov.by/by-be/news/brgtu--otkryta-laboratoriya-robototekhniki/?special_version=Y"
                       target="_blank">БрГТУ - открыта лаборатория робототехники</a>
                </li>
                <li><i class="fa-li fa fa-regular fa-newspaper"></i><a href="https://brokm.by/kiberpiatnitsa/"
                                                                       target="_blank">«Киберпятница» в музее</a></li>
            </ul>
            Контакты <br>
            224017, ул. Московская, 267, корпус 3, ауд. 129 <br>
            +375295274539 <br>
            vvkasyanik@bstu.by <br>
        </div>
    </div>
{% endblock %}