{% extends 'robotics/laboratory_base.html' %}
{% load static %}
{% block laboratoryphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/robotics.jpg' %}" class="d-block w-100 main-photo"
                     alt="...">
                <div class="carousel-caption d-none d-md-block">
                    {#                    <div class=" fs-2">Центр лабораторий БрГТУ</div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 text-center bg-primary fs-4 text-white fst-italic">
        Промышленная робототехника
    </div>
{% endblock %}

{% block aboutlaboratorylink %}
    <a href="{% url 'robotics:robotics' %}" class="list-group-item list-group-item-action ">О
        лаборатории</a>
{% endblock %}


{% block content %}
    <div class="info mt-4">
        Учебная научно-практическая лаборатория “Промышленная робототехника”-ведущая лаборатория БрГТУ в области
        обучения
        и разработки проектов по автоматизации и роботизации производственных предприятий.
    </div>
{% endblock %}