{% extends 'robotics/laboratory_base.html' %}
{% load static %}

{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/technical_vision.png' %}"
                     class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Системы идентификации и промышленная робототехника
    </div>
{% endblock %}


{% block mainlink %}
    <a href="{% url 'robotics:technical_vision' %}">
        <div class="left-sidebar-link py-3 my-3 pl-2">
            Главная
        </div>
    </a>
{% endblock %}

{% block content %}
    <div class="my-3">
        <div class="underline"></div>
        <div class="news my-3">
            О лаборатории:
        </div>
        <div class="underline mb-3"></div>

        <div class="info my-3">
            <div class="border-main px-2 py-3">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Отраслевая лаборатория “Системы идентификации и
                промышленная робототехника” - лаборатория БрГТУ в области
                проектирования и разработки проектов по промышленной маркировки продукта в соответствии с системами
                «Честный
                знак» и «Электронный знак», контролю качества продукции и автоматизации производственных площадок
                предприятий.
            </div>


        </div>
        <div class="section-title text-center mt-4">Цели</div>
        <ol class="gradient-list">
            <li>Выполнение научно-исследовательских работ в области промышленной маркировки и цифровой идентификации в
                области пищевой промышленности
            </li>
            <li>Моделирование процессов нанесения, верификации, идентификации, агрегации кодов промышленной маркировки
                для производственных линий
            </li>
            <li>Разработка, изготовление и испытание опытных образцов автоматизации производственных процессов с
                применением промышленных роботов и инструментов машинного зрения
            </li>
            <li>Подготовка и переподготовка кадров в области промышленной робототехники, автоматизации технологических
                процессов, цифрового инжиниринга, компьютерного моделирования и цифровых двойников
            </li>
            <li>Разработка технических решений в области контроля качества продукции
            </li>
        </ol>
        <div class="section-title text-center mt-4">Направление работы</div>

        <div class="shadow-bow pb-3 pt-2 mt-3">
            <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-database"></i></div>
            <div class="text-center basic-3 pb-2 px-2">Создание научно-методической базы данных для проведения
                фундаментальных и прикладных научных
                исследований
            </div>
        </div>
        <div class="shadow-bow pb-3 pt-2 mt-4">
            <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-users-gear"></i></div>
            <div class="text-center basic-3 pb-2 px-2">Проведение тематических семинаров - практикумов, консультаций для
                преподавателей, аспирантов и студентов
                Университета, специалистов в области промышленной робототехники и маркировки
            </div>
        </div>
        <div class="shadow-bow pb-3 pt-2 mt-4">
            <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-code"></i></div>
            <div class="text-center basic-3 pb-2 px-2">Разработка, изготовление и испытание опытных образцов
                автоматизации производственных процессов с
                применением промышленных роботов и инструментов машинного зрения
            </div>
        </div>
        <div class="shadow-bow pb-3 pt-2 mt-4">
            <div class="itd_circle mt-md-3 mt-4"><i class="fa-regular fa-file-lines"></i></div>
            <div class="text-center basic-3 pb-2 px-2">Участие в разработке стандартов для новых технологий
            </div>
        </div>
        <div class="shadow-bow pb-3 pt-2 mt-4">
            <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-list-check"></i></div>
            <div class="text-center basic-3 pb-2 px-2">Реализация политики в области качества (внедрение системы
                менеджмента качества)
            </div>
        </div>
        <div class="shadow-bow pb-3 pt-2 mt-4">
            <div class="itd_circle mt-md-3 mt-4"><i class="fa-solid fa-arrow-up-right-dots"></i></div>
            <div class="text-center basic-3 pb-2 px-2">Консультирование предприятий по вопросам развития
                производственных процессов, совершенствования
                технологий, повышение кадрового потенциала предприятий
            </div>
        </div>


        <div class="section-title text-center mt-4">Состав лаборатории</div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Лапич Сергей Вячеславович
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Заведующий лабораторией - Лапич Сергей Вячеславович, старший преподаватель
                                        кафедры электронных
                                        вычислительных машин и систем.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                        Дричиц Никита Игоревич
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>Инженер - Дричиц Никита Игоревич.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                       aria-controls="collapseThree">
                                        Гаврилюк Виталий Сергеевич
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>Инженер-конструктор - Гаврилюк Виталий Сергеевич.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                       aria-controls="collapseFour">
                                        Cотрудники и стажеры
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Младшие научные сотрудники и стажеры младших научных сотрудников.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                       aria-controls="collapseFive">
                                        Студенты и магистранты
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>Студенты и магистранты следующих специальностей: вычислительные машины системы и
                                        сети, промышленная
                                        электроника, искусственный интеллект, программируемые мобильные системы.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="section-title text-center mt-4">Применяемые технологии</div>
        <div class="list">
            <ul class="px-0">
                <li><span>Программное обеспечение HALCON</span>
                </li>
                <li><span>Программное обеспечение Deep Learning Tools</span></li>
                <li>
                    <span>Программное обеспечение Visual Components</span>
                </li>
                <li><span>Среда для работы с изображением CorelDRAW</span></li>
                <li><span>Среда для разработки моделей лазерной гравировки - MaxiGraf</span></li>
                <li><span>Среда для формирования дизайна этикеток: Bartender, NiceLabel, LabelStar, Colos</span></li>
            </ul>
        </div>
        <div class="section-title text-center mt-4">Оборудование лаборатории</div>
        <div class="list">
            <ul class="px-0">
                <li><span>Камера технического зрения Cognex DM374X</span>
                </li>
                <li><span>Камера технического зрения Cognex In-sight 905M</span></li>
                <li>
                    <span>Свободно программируемая камера технического зрения</span>
                </li>
                <li><span>Лазерный гравер minimarker 2</span></li>
                <li><span>Верификатор Rea Verifier VeriCube</span></li>
                <li><span>Коллаборативный робот упаковщик базе Universal Robots</span></li>
                <li><span>Стенд для тестирования печати промышленных кодов</span></li>
                <li><span>Стенд для тестирования считывания средств идентификации</span></li>
                <li><span>Обучающий стенд с промышленным контроллером</span></li>
            </ul>
        </div>
        <div class="section-title text-center mt-4">СМИ о лаборатории</div>

        <ul class="list-unstyled">
            <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                    href="https://old.bstu.by/otraslevaya-laboratoriya-sistemy-identifikatsii-i-promyshlennaya-robototehnika"
                    target="_blank">Отраслевая лаборатория «Системы идентификации и промышленная робототехника»</a>
            </li>
            <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                    href="https://www.belta.by/regions/view/otraslevuju-laboratoriju-identifikatsii-i-promyshlennoj-robototehniki-otkryli-v-brgtu-478147-2022/"
                    target="_blank">Отраслевую лабораторию идентификации и промышленной робототехники открыли в
                БрГТУ</a>
            </li>
            <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                    href="https://old.bstu.by/seminar-sistema-markirovki-pervye-rezultaty-problemy-resheniya"
                    target="_blank">Семинар «Система маркировки: первые результаты, проблемы, решения»</a>
            </li>
            <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                    href="https://mpt.gov.by/en/node/7880" target="_blank">Семинар «Опыт внедрения решений по автоматизации в пищевом производстве»</a>
            </li>
            <li class="mt-25"><i class="fa fa-regular fa-newspaper mr-2 mt-1"></i><a
                    href="https://mpt.gov.by/en/node/7880" target="_blank">В Бресте открыт форум «Инвестиции, инновации
                и международное сотрудничество» в рамках международного форума деловых контактов «Брест-2022»</a>
            </li>
        </ul>

        <div class="section-title text-center mt-4">Контакты</div>

            <ul class="list-unstyled d-none d-md-block text-center">
                <li class="mt-25"><i class="fa fa-solid fa-map-location-dot mr-2 mt-1"></i><a
                        href="https://maps.app.goo.gl/TZu1XsgMs6M5G5wR7">224017, ул. Московская, 267, корпус 3, ауд. 127б</a><i class="fa fa-solid fa-map-location-dot ml-2 mt-1"></i>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-phone mr-2 mt-1"></i><a
                        href="tel:+375336092771">+375336092771</a><i class="fa fa-solid fa-phone ml-2 mt-1"></i>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-envelope mr-2 mt-1"></i><a
                        href="mailto:svlapich.bstu@gmail.com">svlapich.bstu@gmail.com</a><i
                        class="fa fa-solid fa-envelope ml-2"></i>
                </li>
            </ul>

            <ul class="list-unstyled d-md-none">
                <li class="mt-25"><i class="fa fa-solid fa-map-location-dot mr-2 mt-1"></i><a
                        href="https://maps.app.goo.gl/TZu1XsgMs6M5G5wR7">224017, ул. Московская, 267, корпус 3, ауд. 127б</a>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-phone mr-2 mt-1"></i><a
                        href="tel:+375336092771">+375336092771</a>
                </li>
                <li class="mt-25"><i class="fa fa-solid fa-envelope mr-2 mt-1"></i><a
                        href="mailto:svlapich.bstu@gmail.com">svlapich.bstu@gmail.com</a>
                </li>
            </ul>
    </div>
{% endblock %}