{% extends 'robotics/laboratory_base.html' %}
{% load static %}

{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/bim.jpg' %}"
                     class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Испытательный Центр
    </div>
{% endblock %}


{% block mainlink %}
    <a href="{% url 'robotics:BIM' %}">
        <div class="left-sidebar-link py-3 my-3 pl-2">
            Главная
        </div>
    </a>
{% endblock %}

{% block content %}
    <div class="my-3">
        <div class="underline"></div>
        <div class="news my-3">
            Об Испытательном центре:
        </div>
        <div class="underline mb-3"></div>
        <p>Испытательный центр является структурным подразделением научно-исследовательской части учреждения образования
            «Брестский государственный технический университет». Испытательный центр функционирует аккредитован Органом
            по аккредитации Республики Беларусь.</p>
        <span class="font-weight-bold">Аттестат аккредитации</span>: ВY /112 1.1048 от 31 марта 2000 г. <br>
        <p>Сроки действия аттестата аккредитации: c 29.08.2021 г. до 29.08.2026 г.</p>
        <p>Основная цель испытательного центра — оказание услуг в области аккредитации и за ее пределами.</p>
        Направления работы:
        <ul>
            <li>Испытания конструкций и изделий сборных железобетонных на прочность; жесткость; трещиностойкость;
                определение линейных размеров и отклонений.
            </li>
            <li>Испытания бетонов на прочность, морозостойкость, водонепроницаемость.</li>
            <li>Испытания растворов на прочность.</li>
            <li>Испытания кирпича - определение пределов прочности при сжатии и изгибе.</li>
            <li>Испытания стального проката, канатов стальных арматурных, арматуры напрягаемой и ненапрягаемой,
                соединений стальных арматуры и закладных деталей, сварных соединений стальных конструкций на растяжение.
            </li>
            <li>Определение прочности бетона на сжатие неразрушающим методом.</li>
            <li>Подбор номинального состава раствора с заданными показателями качества.</li>
            <li>Общее и детальное обследование зданий и сооружений.</li>
            <li>Определение показателей расширения и самонапряжения для расширяющихся цементных систем.</li>
            <li>Определение состава бетона в конструкции.</li>
            <li>Определение показателей качества цементных вяжущих, заполнителей, а также изделий на их основе.</li>
            <li>Разработка технических условий на материалы.</li>
            <li>Разработка технических регламентов на выполнение бетонных работ.</li>
        </ul>
        Состав испытательного центра:
        <ul>
            <li>Деркач Евгений Александрович - начальник испытательного центра.</li>
            <li>Павлова Инесса Павлова - ведущий научный сотрудник, кандидат технических наук, доцент.</li>
            <li>Веремейчик Андрей Иванович - ведущий научный сотрудник, кандидат технических наук, доцент.</li>
            <li>Беломесова Кристина Юрьевна - старший научный сотрудник, магистр технических наук.</li>
        </ul>
        Заказчики и партнеры: <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Испытательный центр активно сотрудничает с организациями и предприятиями Республики Беларусь. Ключевыми
        заказчиками центра являются известные предприятия: ОАО Савушкин продукт, ООО “АРКОС”, Завод железобетонных
        конструкций ОАО “Гроднопромстрой” и др.</p>
        <p class="font-weight-bold">Оборудование испытательного центра: coming soon...</p>

    </div>
{% endblock %}