{% extends 'robotics/laboratory_base.html' %}
{% load static %}

{% block mainphoto %}
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main-photo-box">
                <img src="{% static 'vendor/img/cluster-photo/bim.jpg' %}"
                     class="d-block w-100 main-photo"
                     alt="...">
            </div>
        </div>
    </div>
    <div class="py-4 name-title">
        Испытательный Центр
    </div>
{% endblock %}


{% block mainlink %}
    <a href="{% url 'robotics:BIM' %}">
        <div class="left-sidebar-link py-3 my-3 pl-2">
            Главная
        </div>
    </a>
{% endblock %}

{% block content %}
    <div class="my-3">
        <div class="underline"></div>
        <div class="news my-3">
            Об Испытательном центре:
        </div>
        <div class="underline mb-3"></div>
        <div class="info my-3">
            <div class="border-main px-2 py-3">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Испытательный центр является структурным подразделением
                научно-исследовательской части учреждения образования
                «Брестский государственный технический университет». Испытательный центр функционирует аккредитован
                Органом
                по аккредитации Республики Беларусь.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Основная цель испытательного центра — оказание услуг в
                области аккредитации и за ее пределами.
                <br>
                <div class="h7 mt-2">
                    <span class="font-weight-bold">Аттестат аккредитации</span>: ВY /112 1.1048 от 31 марта 2000 г. <br>
                    <span class="font-weight-bold">Сроки действия аттестата аккредитации</span>: c 29.08.2021 г. до
                    29.08.2026 г. <br></div>
            </div>
        </div>
        <div class="section-title text-center mt-4">Направление работы</div>
        <ul class="list-unstyled">
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Испытания конструкций и изделий сборных железобетонных на прочность; жесткость; трещиностойкость;
                определение линейных размеров и отклонений
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Испытания бетонов на прочность, морозостойкость, водонепроницаемость
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Испытания растворов на прочность
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Испытания кирпича - определение пределов прочности при сжатии и изгибе
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Испытания стального проката, канатов стальных арматурных, арматуры напрягаемой и ненапрягаемой,
                соединений стальных арматуры и закладных деталей, сварных соединений стальных конструкций на растяжение.
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Определение прочности бетона на сжатие неразрушающим методом
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Подбор номинального состава раствора с заданными показателями качества
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Общее и детальное обследование зданий и сооружений
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Определение показателей расширения и самонапряжения для расширяющихся цементных систем
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Определение состава бетона в конструкции
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Определение показателей качества цементных вяжущих, заполнителей, а также изделий на их основе
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Разработка технических условий на материалы
                </li>
                <li class="mt-25"><i class="fa fa-check text-success-m2 mr-2 mt-1"></i>Разработка технических регламентов на выполнение бетонных работ
                </li>


            </ul>
        <div class="section-title text-center mt-4">Состав лаборатории</div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Деркач Евгений Александрович
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Деркач Евгений Александрович - начальник испытательного центра.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                        Павлова Инесса Павлова
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>Павлова Инесса Павлова - ведущий научный сотрудник, кандидат технических наук,
                                        доцент.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                       aria-controls="collapseThree">
                                        Веремейчик Андрей Иванович
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>Веремейчик Андрей Иванович - ведущий научный сотрудник, кандидат технических
                                        наук, доцент.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                       aria-controls="collapseFour">
                                        Беломесова Кристина Юрьевна
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Беломесова Кристина Юрьевна - старший научный сотрудник, магистр технических
                                        наук.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-title text-center mt-4">Заказчики и Партнеры</div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Испытательный центр активно сотрудничает с организациями и
            предприятиями Республики Беларусь. Ключевыми
            заказчиками центра являются известные предприятия: ОАО Савушкин продукт, ООО “АРКОС”, Завод железобетонных
            конструкций ОАО “Гроднопромстрой” и др.</p>
        <div class="section-title text-center mt-4">Оборудование лаборатории</div>
        <div class="list">
            <ul class="px-0">
                <li><span>Информация отсутсвует</span>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}